.imageunder {
  color: white;
  margin-top: 20px;
  font-family: "Courier New", monospace;
}
.imageundertitle {
  color: #3380b0;
  font-family: "Courier New", monospace;
  font-weight: bold;
}
.photo {
  border-radius: 50%;
  height: 300px;
  width: auto;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.about {
  font-family: "Courier New", monospace;
  color: white;
}
button {
  margin: 20px;
  outline: none;
}
.custom-btn {
  width: 130px;
  height: 40px;
  border: 2px solid #000;
  font-family: "Courier New", monospace;
  font-weight: 500;
  background: #3380b0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btnmcb {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btnmcb:hover {
  background: black;
  color: #fff;
}
a {
  text-underline-offset: none;
}
.btnmcb:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
}
.btnmcb:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}