html{
  scroll-behavior: smooth;
}

body {
  background-color: #222;
}

.icon {
  width: 50px;
  height: auto;
  filter: invert(49%) sepia(19%) saturate(1563%) hue-rotate(160deg) brightness(87%) contrast(87%);
}

.container {
  min-width: 450px;
}

.photo {
  border-radius: 50%;
  height: 300px;
  width: auto;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.imageundertitle {
  color: #3380b0;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.mainText {
  font-family: "Courier New", monospace;
  color: white;
}

.titleText {
  font-family: "Courier New", monospace;
  color: white;
}

.btn-mcb {
  margin: 20px;
  color: black;
  background-color: #3380b0;
  width: 150px;
  height: auto;
  border: 2px solid #000;
  font-family: "Courier New", monospace;
  font-weight: 500;
}

.btn-mcb:hover {
  color: white;
  background-color: #000;
  border: 1px solid white;
}

hr {
  height: 2px;
  width: auto;
  border-width: 0;
  color: #3380b0;
  background-color: #3380b0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}
